<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.maxencedecussac.eyenightpro.app" />

<meta-data
android:name="com.parse.SERVER_URL"
android:value="@string/eyenightpro_server_url" />
<meta-data
android:name="com.parse.APPLICATION_ID"
android:value="@string/eyenightpro_app_id" />
<meta-data
android:name="com.parse.CLIENT_KEY"
android:value="@string/eyenightpro_client_key" />